
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.container-fluid img{
    height: 30px;
    width: 30px;
    

}
.navbar-fluid {
    color: #fcd535;
    font-weight: 20px;
    
}
#binance-text{
   color: rgb(251, 206, 29);
   font-size: 20;
   font-family: inherit;
}
.nav-link {
    text-decoration: none;
}
.min-navbar {
    height: 35px;
    text-align: center;
    background-color:#f5df879a;
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
 #redeem1 p{
    height: 30px;
    width: 150px;
    background-color: #fcd535;
    margin: 5px 5px;
}

.min-navbar p img{
   color:#fcd535;
   height: 20px;
   width: 20px;
}
#login{
   color: #000;
   font-size:15px ;
   font-weight: lighter;
}

#rigistration{
     
   color: #000;
   font-size: 17px;
   margin-right: 20px;
   background-color: #fcd535;
   height: 30px;
   width: 112px;
   padding: 2px 20px;
   border-radius: 7px;
   font-weight: lighter;

}
#rigistration img{

   
   height: 15px;
   width: 15px;
   
}
.QR-CODE {
  margin-right: 30px;
  width: 0px;
  background-color: #fcd535;
  
}
.QR-CODE img{
   height: 22px;
   width: 22px;
   margin-right: 0px;
}
.world-icon{
     margin-right: 10px;
     
}
.world-icon img{

}
.line-1{
   border-right: 2px solid gray ;
   border-left: 2px solid gray ;
   height: 25px;
   margin-right: 13px;
}

.line-1 p{
   padding: 0px 8px;
   font-size: 15px;
   font-weight: lighter;
}
.moon-icon{
   
}
.moon-icon img{
    height: 12px;
    width: 12px;
    margin-right: 35px;
}



.page-1{
    height: 500px;
    width: 100%;
    background-color: rgb(242, 246, 246);
    display: flex;
}
.side-one{
  height: 400px;
  width: 50%;
  background-color: rgb(245, 248, 247);
  margin: 90px 0px;
  padding: 0px 70px;
  font-family: Arial , sans-serif;
  
}
.side-two img{
    height: 420px;
    margin-top: 80px;
    margin-left: 80px;
}
.gift-icon{
    padding: 0px 30px;
    margin: 90px 0px;
    padding-top: 50px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.gift-icon img{
    color: #fcd535;
    height: 20px;
    width: 20px;
}
#sign-btn-22{
    height: 50px;
    width: 400px;
}

.p-cuntinue{
   margin: 10px 70px;
   color: gray;
}
.buttns{
   display: flex;
}
#google-btn{
   background-color: rgb(233, 233, 233);
}
#google-btn img{
   height: 15px;
   width: 15px;
}
#apple-btn{
   background-color: rgb(231, 231, 231);
}
#apple-btn img{
height: 15px;
width: 15px;
}



.timer-pag{
    height: 220px;
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
}


.doller {
    height: 200px;
    width: 250px;
    
    padding: 30px 10px;

}
.number{
    height: 200px;
    width: 250px;

    padding: 30px 10px;
}

.milion{
    height: 200px;
    width: 250px;
    
    padding: 30px 10px;
}

.percent{
    height: 200px;
    width: 250px;

    padding: 30px 10px;
}




.dectop{
    width: 100%;
    padding: 5px 80px;
    border-radius: 10px;
}
.dectop img{
    border-radius: 30px;
}



.table{
    height: 600px;
    width: 100%;
    background-color: aqua;
    padding: 10px 100px;
}

.pic-1 {  
    height: 32px;   
    width: 32px;
}
.pic-2{
    height: 32px;   
    width: 32px;
}
.pic-3{
    height: 32px;   
    width: 32px;
}
.pic-4{
    height: 42px;   
    width: 42px;
}
.pic-5{
    height: 42px;   
    width: 42px;
}






.hading-btn {
    height: 120px;
    width: 100%;
    
    padding: 10px 80px;
    font-weight: bold;
    font-size: 25px;
}

.btn{
    height: 50px;
    width: 190px;
    background-color: #fcd535;
    text-align: center;
    padding: 15px 20px;
    font-weight: bold;
}



.page-three{
    height: 270px;
    width: 90%;
    background-color: rgb(252, 235, 236);
    display: flex;
    margin: 30px 80px;
    border-radius: 20px;
}
.mini-page-three img{
    height: 235px;
    width: 325px;
    margin: 0px 90px;
}
.pera-line{
    margin: 50px 100px;
    width: 550px;


}


#bay{
   width: 230px;
   margin: 20px 0px;
}



    /*portfolio*/

    .portfolio{
        height: 600px;
        width: 90%;
        margin: 0px 80px;
        background-color: rgb(238, 242, 242);
        display: flex;
        justify-content: space-between;
     }   
     .portfolio-text{
        height: 600px;
        width: 50%;
        padding: 20px 50px;
        font-weight:bold ;
        
     }
     .Verify{
        display: flex;
        gap: 50px;
     }
     .verifiy-img img{
    
     }
     .hading h3 {
        height: 50px;
        padding: -2px 10px;
        
     }
     .Verify-2{
        display: flex;
        gap: 50px;
     }
     .hading2 h3{
        height: 40px;
        
        padding: -2px 30px;
        
     }
     .Verify-3{
        display: flex;
        gap: 50px;
     }
     .hading3 h3 {
        height: 40px;
    
        padding: -1px 30px;
        font-size: 30px;
     }
    .portfolio-picture{
        height: 600px;
        width: 40%;
        

        
     }
     #portfolio-img img{
        height: 585px;
        width: 290px;
        margin: 10px 100px;
     }

     .btn-two{
        width: 90%;
        padding: 10px 90px;
        background-color: rgb(242, 245, 245);
        margin: 0px 80px;
     }




     .tokin{
        height: 700px;
        width: 90%;
        background-color: rgb(249, 253, 252);
        margin: 0px 80px;
     }
     .tokin-hading{
        padding: 20px 30px;
     }
     .tokin-hading p{
        color: gray;
        font-size: 20px;
     }

     .tokin-card1{
        height: 300px;
        width: 1211px;
        background-color: rgb(244, 246, 244);
        padding: 20px 20px;
        display: flex;
        gap: 20px;
        
     }
    .tokin-one{
        height: 250px;
        width: 260px;
        border-radius: 20px;
        
     }
     .tokin-one img{
            height: 50px;
            width: 50px;
            margin: 20px 80px;
            border-radius: 50px;        
     }
     .tokin-one h4{
        padding: 5px 75px;
     }
     .tokin-one p{
         padding: 0px 30px;
         color: rgb(179, 177, 177);
     }
     .tokin-one p b{
        color: #03a66d;
     }
     .tokin-one #round{
        border-radius:50px;
        height: 40px;
        margin: 0px 85px;
        width: 40px;
        padding:0px;
        background-color: rgb(210, 210, 210);
        border: none;
        color: black;
     }
    .tokin-two{
        height: 250px;
        width: 260px;
        border-radius: 20px;
        
     }
     .tokin-two img{
        height: 50px;
        width: 50px;
        margin: 20px 80px;
        border-radius: 50px;        
 }
 .tokin-two h4{
    padding: 5px 75px;
 }
 .tokin-two p{
     padding: 0px 30px;
     color: rgb(179, 177, 177);
 }
 .tokin-two p b{
    color: #03a66d;
 }
 .tokin-two #round{
    border-radius:50px;
    height: 40px;
    margin: 0px 85px;
    width: 40px;
    padding:0px;
    background-color: rgb(210, 210, 210);
    border: none;
    color: black;
 }
    .tokin-three{
        height: 250px;
        width: 260px;
        border-radius: 20px;
        
        
     }
     .tokin-three img{
        height: 50px;
        width: 50px;
        margin: 20px 80px;
        border-radius: 50px;        
 }
 .tokin-three h4{
    padding: 5px 75px;
 }
 .tokin-three p{
     padding: 0px 30px;
     color: rgb(179, 177, 177);
 }
 .tokin-three p b{
    color: #03a66d;
 }
 .tokin-three #round{
    border-radius:50px;
    height: 40px;
    margin: 0px 85px;
    width: 40px;
    padding:0px;
    background-color: rgb(210, 210, 210);
    border: none;
    color: black;
 }
    .tokin-four{
        height: 250px;
        width: 260px;
        border-radius: 20px;
        
        
     }
     .tokin-four img{
        height: 50px;
        width: 50px;
        margin: 20px 80px;
        border-radius: 50px;        
 }
 .tokin-four h4{
    padding: 5px 75px;
 }
 .tokin-four p{
     padding: 0px 30px;
     color: rgb(179, 177, 177);
 }
 .tokin-four p b{
    color: #03a66d;
 }
 .tokin-four #round{
    border-radius:50px;
    height: 40px;
    margin: 0px 85px;
    width: 40px;
    padding:0px;
    background-color: rgb(210, 210, 210);
    border: none;
    color: black;
 }
    .tokin-five{
        height: 250px;
        width: 260px;
        background-color: #fafafa;
        border-radius: 20px;
        
     }
     .tokin-five img{
        height: 50px;
        width: 50px;
        margin: 20px 80px;
        border-radius: 50px;        
 }
 .tokin-five h4{
    padding: 5px 75px;
 }
 .tokin-five p{
     padding: 0px 30px;
     color: rgb(179, 177, 177);
 }
 .tokin-five p b{
    color: #03a66d;
 }
 .tokin-five #round{
    border-radius:50px;
    height: 40px;
    margin: 0px 85px;
    width: 40px;
    padding:0px;
    background-color: rgb(210, 210, 210);
    border: none;
    color: black;
 }
 .tokin-card1  :hover{
      border: 1px solid #fcd535 ;
      cursor: pointer;


 }
 

 



     .tokin-card2{
        height: 300px;
        width: 1211px;
        background-color: rgb(248, 250, 247);
        padding: 10px 20px;
        display: flex;
        gap: 20px;
        
     }
.tokin-card2 :hover{
   border: 1px solid #fcd535 ;
}

     .btn{
        margin: 0px 30px;
     }
    .explore-hone h1{
        
        width: 90%;
        margin:0px 80px;
        
    }
     .Explor{
        height: 300px;
        width: 90%;
        
        margin: 0px 80px;
        padding: 100px 0px;
        display: flex;
        gap: 20px;
        justify-content: space-around;
   
     }
      .card img{
        height: 217px;
        width: 286px;
        border-radius: 30px;
     }
     
     #explore-btn{
        margin: 430px 100px;
        font-family: Arial, Helvetica, sans-serif;
     }
        
     .Explor :hover{
      color: gray;
      box-shadow: gray 50px;
      
     }
      

   /*  <------------------------crypto-exchange---------------->*/

     .crypto-exchange{
          height: 700px;
          width: 90%;
          
          margin: -370px 80px;
          padding: 10px 20px;
     }
     .crypto-exchange h1 {
      
      
     }
     .exchange-parent{
      height: 600px;
      width: 100%;
      
      margin: 0px 0px;
      padding: 0px 0px;
      display: flex;
      justify-content: space-around;
     }
     .exchange-child1{
      height: 570px;
      width: 550px;
      

     }
     .secure-asset1{
      display: flex;
      margin: 10px 5px;
      gap: 20px;
     }
     #Secure-Asset h3{
      font-size:25px;
           
     }
     
   .exchange-child2{
      height: 570px;
      width: 550px;
      

     }

     .exchange-child2 img{
      height: 400px;
      width: 550px;
      margin:70px 0px ;
     }

     #btn123{
      margin: 350px 100px;
      font-family: Arial, Helvetica, sans-serif;

     }





     .anywhere{
      height: 120px;
      width: 92%;
      
      margin: -300px 65px;
      padding: 10px 20px;
     }
     .anywhere p{
       font-size: 20px;
       color: rgb(187, 186, 186);
     }
     .anywhere-one{
      height: 500px;
      width: 92%;
      background-color: rgb(239, 236, 242);
      margin: 290px 65px;
      display: flex;
     }
     .anywhere-image img{
      height: 500px;
      width: 700px;
      padding: 10px 0px;
      

     }
     .anywhere-logos{
      height:500px;
      width: 542px;
      
     }

     .logos-hading{
      height: 150px;
      width:500px;
      
      margin: 10px 25px;
      display: flex;
     }
     .logos-hading img{
      height:150px;
      width: 150px;
      cursor: pointer;
     }
     .logos-hading p{
      height:150px;
      width: 150px;
     }

     #ppp p{
      margin: 30px 30px;
      font-size: 17px;
      font-weight: bold;
      color: gray;
     }

     #ppp  h3{
      margin:-150px 30px;
      font-size: 25px;
      font-weight: bold;
      
     }
     .logos{
      background-color: #03a66d;
      height: 300px;
      width: 450px;
      margin: 10px 40px;
      display: flex;
      justify-content: space-around;
     }




     .need-help{
      height: 250px;
      width: 90%;
      
      margin: -100px 80px;
     }
     .need-help-h1 h1{

      padding: 0px 20px;
      font-size: 50px;

     }
     .hading-help p{
      color: gray;
     }
     #flex{
      display: flex;
      gap: 20px;
      padding: 50px 40px;
     }


     .support{
      display: flex;
     }



     .earning{
      height: 300px;
      width: 90%;
      background-color: rgb(247, 246, 246);
      margin: 150px 80px;
     }






     #earning-h1 h1{
           padding:50px 430px ;
           padding-top: 100px;
     }

     #earning-btn{
      margin: -40px 490px;
      color: black;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      border: none;
      width: 220px;
      height: 50px;
     }





     .fotter{
      height: 500px;
      width: 100%;
      
      margin:-100px 0px;
      padding: 30px 60px;
      display: flex;
      gap: 10px;
      
      
     }
     .list{
      border-bottom: 1px solid rgb(124, 123, 123);
      width:100%;
      padding: 0px 50px;
      
     }
     #list-fotter{
      height: 100px;
      width: 100%;
      
      margin: 50px 0px;
      padding: 150px 200px;
     }
     #list-fotter p{
          padding: 120px 420px;
     }

     .fotter-one a{
           text-decoration: none;
           color: rgb(106, 106, 106);
     }
     
     .fotter-one ul {
        list-style: none;
        text-decoration: none;
     }
     .fotter-one ul :hover {
            color: black;
     }

      .community {
      
       height: 350px;
       width: 230px;
       display: flex;
       padding: 10px 20px;
       margin: 10px 50px;
     }
     #coin img{
      height: 50px;
      width: 50px;
     }
     #telegram i{
      height: 30px;
      width: 30px;
      
     }
     